astroid
certifi
chardet
coreapi
coreschema
Django
django-cors-headers
django-rest-auth
django-rest-swagger
djangorestframework
gunicorn
idna
isort
itypes
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
openapi-codec
pylint
pylint-django
pylint-plugin-utils
pytz
requests
simplejson
six
sqlparse
typed-ast
uritemplate
urllib3
wrapt
Pillow